.body {
    font-size: 16px;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    box-shadow: none;
}

.contained {
    
    background-color: #212529;
    color: #eeeeee;
    border-radius: 3px;

}

.outlined {
    border: 1px solid #212529;
    border-radius: 3px;
    color: #737578;
  
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  .container {
    display: flex;
    overflow-x: scroll;
    width: 100%;
  }
  
  .card {
    flex-shrink: 0;
    width: 60vw;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }




  .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 25vw solid transparent;

    border-bottom: 25vw solid transparent;
    
    border-left: 25vh solid #eaeaeabe;
    position: fixed;
    top: 45vh;
    
  }